.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #61dafb;
}

.reset {
  cursor: pointer;
  transition: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: rgb(0, 0, 0, 0.2);
}

.reset option {
  background-color: #282c34;
}
