* {
  font-family: "Titillium web";
}

#root {
  background-color: #272727;
}

.title {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 1px;
}

.input {
  margin: 0 0 0 0;
  width: 100%;
  height: 100vh;
}

/* row col */
.input div {
  padding: 1rem;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#tempC {
  background-color: #085aa3;
}

#tempF {
  background-color: #2b2a40;
}

#tempK {
  background-color: #2e2c30;
}

textarea {
  cursor: pointer;
  height: 80%;
  transition: none !important;
  box-shadow: none !important;
  color: #eeeeee !important;
  border: none !important;
  background-color: transparent !important;
  resize: none;
  overflow: hidden;
}

.form-control {
  font-size: 5vw;
}

.tempSign {
  font-size: 12vw;
}
